<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather- About</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/img/weather.png">
</head>

<body>
  <div class="main-content">
    {{>header}}

    <p>This site was created by Bhanuj. It fetches data from WeatherApi.</p>
    <img class="portrait" src="/img/me.jpg" alt="my_photo">
  </div>

  {{>footer}}
</body>

</html>